 <!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Product Page</title>

</head>

 <header class="page-header">
    <h1>Selected Spoon</h1>
  </header>

<body>
<%= @products.name %>
<%= @products.description %>

<%= link_to cart_path do %>
<button type="button" class='btn btn-warning'>Spoon2Cart</button>
 <% end %>
</body>
</html>
